<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.soulspace.cinemaline.mapper.CityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.soulspace.cinemaline.entity.City">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="city_name" property="cityName" />
        <result column="initial_char" property="initialChar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, city_name, initial_char
    </sql>

    <select id="selectIdByCityName" resultMap="BaseResultMap">
        select id
        from cms_city
        where city_name = #{cityName,jdbcType=VARCHAR}
    </select>

</mapper>
